{% include 'base.html' %}
{% load static %}

{% block content %}
<div class="max-w-lg mx-auto mt-10 p-6 bg-white border border-gray-300 rounded-lg shadow-md">
    <form action="{% url 'add_marks' %}" method="POST" class="space-y-4">
        {% csrf_token %}
        <div>
            <label for="sem" class="block text-sm font-medium text-gray-700">Select Semester:</label>
            <select name="sem" id="sem_no" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option value="" disabled selected hidden>Choose Option</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </div>
        
        <div>
            <label for="cie_no" class="block text-sm font-medium text-gray-700">Enter CIE:</label>
            <select name="cie" id="cie_no" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option value="" disabled selected hidden>Choose Option</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        
        <div>
            <label for="class_code" class="block text-sm font-medium text-gray-700">Enter Class Code:</label>
            <input type="text" name="class_code" placeholder="Ex." class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>
        
        <div>
            <label for="sub_code" class="block text-sm font-medium text-gray-700">Enter Subject Code:</label>
            <input type="text" name="sub_code" placeholder="" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>
        
        <div>
            <input type="submit" value="Submit" class="w-full py-2 px-4 bg-blue-500 text-white font-medium rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        </div>
    </form>
</div>
{% endblock %}
