{% include 'base.html' %}
{% load static %}
{% block content %}
<div class="max-w-4xl mx-auto mt-10 p-6  bg-white border border-gray-300 rounded-lg shadow-md">
    <div>
        <img src="{% static 'rv_header.jpg' %}">
    </div>
    <h1 class="text-2xl font-bold mb-6 text-center">Marks</h1>
    <div class="overflow-x-auto">
        <table class="min-w-full border-collapse border border-gray-400">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-4 py-2 border border-gray-400">Subject</th>
                    <th class="px-4 py-2 border border-gray-400">Marks</th>
                    <th class="px-4 py-2 border border-gray-400">Attendance</th>
                </tr>
            </thead>
            <tbody>
                {% for mark in marks_obj %}
                <tr class="bg-white">
                    <td class="px-4 py-2 border border-gray-400">{{ mark.cie.sub_code }}</td>
                    <td class="px-4 py-2 border border-gray-400">{{ mark.marks }}</td>
                    <td class="px-4 py-2 border border-gray-400">{{ mark.attendance }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
