{% extends 'base.html' %}
{% load static %}

{% block content %}
<form action="{% url 'edit_marks_page2' %}" method="post">
    {% csrf_token %}
    <input name="cie" value="{{ cie }}" hidden>
    <input name="sem" value="{{ sem }}" hidden>
    <input name="sub_code" value="{{ sub_code }}" hidden>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>USN</td>
                <td>Marks</td>
                <td>Attendance</td>
            </tr>
        </thead>
        <tbody>        
            {% for student_full, student_half in students %}
            <tr>
                <td>{{ student_full.first_name }}</td>
                <td>{{ student_half.usn }}</td>
                <td><input type="number" name="marks-{{ student_half.id }}" placeholder="{{ student_half.marks }}"></td>
                <td><input type="text" name="attendance-{{ student_half.id }}" placeholder="{{ student_half.attendance }}"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="submit">
</form>
{% endblock %}
