{% include 'base.html' %}
{% block content %}
<div>
    <h1>Get Marks</h1>
    <form method="post" action="{% url 'student_dashboard' %}">
        {% csrf_token %}
        <label for="usn">USN:</label>
        <input type="text" id="usn" name="usn"><br><br>
        <label for="cie">CIE Number:</label>
        <input type="text" id="cie" name="cie"><br><br>
        <label for="sem">Semester:</label>
        <input type="text" id="sem" name="sem"><br><br>
        <input type="submit" value="Get Marks">
        <button type="submit" name="generate_pdf">Generate PDF</button>
    </form>

</div>
{% endblock %}