{% include 'base.html' %}
{% block content %}
<div>
    <h1>Update Marks</h1>
    <form method="post">
        {% csrf_token %}
        {% for obj in marks_obj %}
        <label for="sub_code">Subject Code:</label>
        <input type="text" id="sub_code" name="sub_code" value="{{ obj.cie.sub_code }}" readonly><br><br>
        <label for="marks">Marks:</label>
        <input type="text" id="marks" name="marks" value="{{ obj.marks }}"><br><br>
        <label for="attendance">Attendance:</label>
        <input type="text" id="attendance" name="attendance" value="{{ obj.attendance }}"><br><br>
        <input type="submit" value="Update">
        {% endfor %}
    </form>
</div>

{% endblock %}